@inject IApplicantService ApplicantsConnect
@if (Applicant != null)
{
    <div class="container">
        <MudText Class="mb-10" Color="Color.Primary">Take a screenshot of this receipt</MudText>
        <MudSimpleTable Elevation="0" Class="details mb-10">
            <tbody>
                <tr>
                    <td style="width: 200px;">Applicant Status</td>
                    <td>@Applicant.ApplicantStatus</td>
                </tr>
                <tr>
                    <td style="width: 200px;">Fullname</td>
                    <td>@($"{Applicant.PersonalInformation.LastName}, {Applicant.PersonalInformation.FirstName} {Applicant.PersonalInformation.MiddleName.Substring(0, 1)}.")</td>
                </tr>
                <tr>
                    <td style="width: 200px;">Program Preference</td>
                    <td>@Applicant.CourseName</td>
                </tr>
                <tr>
                    <td style="width: 200px;">Campus</td>
                    <td>@Applicant.Schedule.Campus.Name</td>
                </tr>
                <tr>
                    <td style="width: 200px;">Schedule Date</td>
                    <td>@Applicant.Schedule.ScheduleDate.ToShortDateString()</td>
                </tr>
                <tr>
                    <td style="width: 200px;">Time</td>
                    <td>@Applicant.Schedule.Meridiem</td>
                </tr>
                <tr>
                    <td style="width: 200px;">Venue</td>
                    <td>@Applicant.Schedule.Venue</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </div>
}

@code {
    [Parameter]
    public Applicant? Model { get; set; }
    Applicant? Applicant;

    protected async override Task OnInitializedAsync()
    {
        Applicant = Model != null ? await ApplicantsConnect.GetAsync(Model.Id) : null;
    }
}

<style>
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mb-10 {
        margin-bottom: 10px; /* Add margin to create space between MudText and MudSimpleTable */
    }
</style>